frontend/folder/
/src/db_interface/target/
/src/db_interface/.idea/
/src/db_interface/.vscode/
/src/db_interface/cargo.lock
/node_modules/
/frontend/node_modules/
/frontend/public/cards/
/frontend/public/cards.xml
/frontend/dist/
/frontend/dist/cards/
/frontend/dist/assets/
.DS_Store
/.env
/src/dist
textures/cards/